doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        title the Da Vinci Code-#{page}
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(href="./web/css/vendor/bootstrap/css/bootstrap.min.css", rel="stylesheet")
        link(href="./web/css/flat-ui.css", rel="stylesheet")
        link(href="./web/css/dvc.css", rel="stylesheet")
        link(href="./web/img/icon.ico", rel="shortcut icon")
        script var page = '#{page}';
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
        |   <script src="js/vendor/html5shiv.js"></script>
        |   <script src="js/vendor/respond.min.js"></script>
        <![endif]-->