include header
body
	div(id="play_container")
		div(id="play_header") hello <span id="username" class="username">#{username}</span>, your opponent <span id="target" class="username">#{target}</span> <span id="target_info">is offline</span>, click <a href="/hall" title="quit this game">quit</a> to leave.
		div(id="play_chat")
			div(id="play_chat_box")
			textarea(id="play_chat_text" name="message" class="form-control flat play_control" rows="6" maxlength=140 placeholder="type your message here..." disabled=true)
		div(id="play_game")
		div(id="play_operation")
include footer